{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
<div class="navbar">
    <div class="brand-header">
        <h2 class="navbar-header">Sign Language Application</h2>
    </div>
    <div class="navigation">
        <ul class="header-list">
            <li class="header-list-elements"><a class="link-tag" href="./profile.html">Profile</a></li>
            <li class="header-list-elements"><a class="link-tag" href="/">About</a></li>
            <li class="header-list-elements"><a class="link-tag" href="/">Home</a></li>
        </ul>
    </div>
</div>
<div class="left-container">
    <!-- <p>This is left container</p> -->
</div>
<div class="right-container">
    <!-- <p>This is right container</p> -->
</div>
<!-- <div class="container">
    <h2 class="sub-heading">Signup</h2>
    <input type="text" placeholder="enter email">
    <input type="password" placeholder="enter password">
    <button>Submit</button>
</div> -->
{% endblock %}